UPLINK_NETWORK='UPLINK-NAT'
IPV4_SUBNET_PREFIX='10.127'
STORAGE_POOL='zpool'
NFS_BACKUP_DIR='/mnt/microcloud-backups'
BACKUP_RETENTION_DAYS='7'
TECHNITIUM_URL='http://dns.example.infnet:5380'
TECHNITIUM_API_TOKEN='replace-with-technitium-api-token'
TECHNITIUM_ZONE='infnet'
TECHNITIUM_DNS_TTL='3600'
